*{
	margin: 0;
	padding-left: 1em;
    padding-right: 1em;
 
	
}

#main{
	background-color: black;
	font-family:Arial, Helvetica,;
	color: hsla(0, 0%, 100%, 0.814);
	padding: .5em;
	font-size: large;
	
	
	
	
}
#footer{
	background-color: rgb(11, 10, 10);
}
ul{
	
	text-align: center;
	list-style: none;
}
li{
	padding: 1em;
	margin: 0px;
}
a:hover{
	color: blue;
}
.box1{
	padding: 20px 0px 0px 20px;
	text-align: left;
}
.container1{
     text-align:left;
	 width: 30%;
}
.container1 img{
	margin-left: 100%;
}
body h1{
	text-align: center;
	 width:auto

}
body h2{
	text-align: center;
	padding-top: 2em;
}
.container2{

   text-align:right ;
}
header button{
	float: right;
	letter-spacing:2px ;
	word-spacing:2px ;
}


header h4{
	float: right;
	letter-spacing:2px;
	word-spacing: 2px;

}

footer h4{
	text-align: right;
  }


.img-1{
	display: block;
	margin-left:auto;
	margin-right:auto ;
	width: 40%;
}
.img2{
	width: 25px;
}
.img3{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 50px;
}
.img4{

      margin-left: 100%;
	  margin-right: 0%;
	   width: 400px;
}
.img5{
	margin-right: 100%;
	width: 200px;
	padding-top: 0.8em;
}
p{
	text-align: center;
	padding-top: 2em;
}
footer h4{
	float: right;
}
